<h1>Editing Person Email Address</h1>

<%= render 'form', person_email_address: @person_email_address %>

<%= link_to 'Show', @person_email_address %> |
<%= link_to 'Back', person_email_addresses_path %>
