<h1>Editing Person Postal Address</h1>

<%= render 'form', person_postal_address: @person_postal_address %>

<%= link_to 'Show', @person_postal_address %> |
<%= link_to 'Back', person_postal_addresses_path %>
